.foto-profil {
    width: 35px;
    border-radius: 20px;
    margin-right: 10px;
}
.logo-sidebar-mobile {
    height: 60px;
    width: 50px;
    margin-right: 20px;
}
.item-mobile {
    margin-top: 20px;
    margin-left: 20px;
}
.text {
    color: #000;
}
.text:hover {
    background-image: linear-gradient(90deg, #fff 0%, #FF7158 150%);
}